@import '../../variables.scss';

.SidePanel {
  display: flex;
  flex-basis: 275px;
  flex-shrink: 0; 
  height: 100vh;
  background-color: $eerie-black;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $magic-mint;
    font-weight: 200;
    font-size: $font-xlarge;
    margin: $margin-small $margin-medium;
  }
}
