@import "../../../variables.scss";

.MainContent {
  width: 66.67%;
  height: 100%;
  float: right;
  overflow-y: auto;

    h3 {
      font-size: $font-medium;
      line-height: 1.25;
      overflow: hidden;
    }
    h3, p, span {
      margin: $margin-small;
    }
    p, span {
      display: block;
      font-size: $font-small;
      text-overflow: ellipsis;
      overflow: hidden;
    }
}