@import './variables.scss';

* {
  font-family: Avenir;
  margin: 0;
  padding: 0;
}

.pageWrapper {
  display: flex;
  main {
   height: 100vh;
   overflow-y: auto;
   margin-left: $margin-medium;
   h2 {
     margin-top: $margin-medium;
     font-size: $font-large;
     font-weight: 200;
     font-style: italic;
   }
  }
}
