$base-val: 12;
$border-radius-small: $base-val * 0.125px;
$border-radius-medium: $base-val * 0.5px;
$margin-small: $base-val * 0.5px;
$margin-medium: $base-val * 2px;
$margin-large: $base-val * 4px;
$box-shadow-medium:  5px 5px 8px #a1a1a1, 
                    -5px -5px 8px #ffffff;
$mint-green: #94F3CF;
$font-small: 0.8em;