$base-val: 12;
$border-radius-small: $base-val * 0.125px;
$border-radius-medium: $base-val * 0.5px;
$padding-small: $base-val * 0.25px;
$margin-small: $base-val * 0.5px;
$margin-medium: $base-val * 2px;
$margin-large: $base-val * 4px;
$box-shadow-medium:  5px 5px 8px #a1a1a1, 
                    -5px -5px 8px #ffffff;
$magic-mint: #94F3CF;
$sonic-silver: #707070; 
$eerie-black: #1f1f1f;
$lavender-blush: #FDE8E9;
$font-tiny: 0.6em;
$font-small: 0.8em;
$font-medium: 1em;
$font-large: 1.75em;
$font-xlarge: 2.75em;