@import "../../variables.scss";

.label {
  display: inline-block;
  text-align: center;
  line-height: 2px * $base-val;
  width: auto;
  min-width: 5px * $base-val;
  height: 2px * $base-val;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  background: greenyellow;
  margin: $margin-small;
}